$sui-o-grid-gutter-xxs: $sui-space-xxs !default;
$sui-o-grid-gutter-xs:  $sui-space-xs !default;
$sui-o-grid-gutter-sm:  $sui-space-sm !default;
$sui-o-grid-gutter-md:  $sui-space-md !default;
$sui-o-grid-gutter-lg:  $sui-space-lg !default;
$sui-o-grid-gutter-xl:  $sui-space-xl !default;
$sui-o-grid-gutter-xxl: $sui-space-xxl !default;