@mixin suiGridGutters($size) {
  margin-left: -$size !important;
  margin-bottom: -$size !important;

  & > * {
    padding-left: $size !important;
    padding-bottom: $size !important;
  }
}

@mixin suiGridGuttersVertical($size) {
  margin-bottom: -$size !important;

  & > * {
    padding-bottom: $size !important;
  }
}

@mixin suiGridGuttersHorizontal($size) {
  margin-left: -$size !important;

  & > * {
    padding-left: $size !important;
  }
}

@mixin suiGridGuttersAll($suffix, $size) {
  &.as--gutter-#{ $suffix } {
    @include suiGridGutters($size);
  }

  &.as--gutter-vertical-#{ $suffix } {
    @include suiGridGuttersVertical($size);
  }

  &.as--gutter-horizontal-#{ $suffix } {
    @include suiGridGuttersHorizontal($size);
  }
}

@mixin suiGridModifiers($suffix: '') {
  &.as--auto#{ $suffix } {
    & > * {
      flex-grow: 0;
      max-width: none;
      flex-basis: auto;
    }
  }

  &.as--fill#{ $suffix } {
    & > * {
      flex-grow: 1;
      max-width: none;
      flex-basis: auto;
    }
  }

  &.as--stretch#{ $suffix } {
    align-items: stretch;

    & > * {
      display: flex;
      flex-direction: column;
    }

    & > * > * {
      flex: 1 0 auto;
    }
  }

  &.as--no-wrap#{ $suffix } {
    flex-wrap: nowrap;
  }

  &.as--vertical-center#{ $suffix } {
    align-items: center;
  }

  &.as--vertical-top#{ $suffix } {
    align-items: flex-start;
  }

  &.as--vertical-bottom#{ $suffix } {
    align-items: flex-end;
  }

  &.as--horizontal-center#{ $suffix } {
    justify-content: center;
  }

  &.as--horizontal-left#{ $suffix } {
    justify-content: flex-start;
  }

  &.as--horizontal-right#{ $suffix } {
    justify-content: flex-end;
  }

  // -------------------------
  // Gutters
  // -------------------------
  @include suiGridGuttersAll(none#{ $suffix }, 0);
  @include suiGridGuttersAll(xxs#{ $suffix }, $sui-o-grid-gutter-xxs);
  @include suiGridGuttersAll(xs#{ $suffix }, $sui-o-grid-gutter-xs);
  @include suiGridGuttersAll(sm#{ $suffix }, $sui-o-grid-gutter-sm);
  @include suiGridGuttersAll(md#{ $suffix }, $sui-o-grid-gutter-md);
  @include suiGridGuttersAll(lg#{ $suffix }, $sui-o-grid-gutter-lg);
  @include suiGridGuttersAll(xl#{ $suffix }, $sui-o-grid-gutter-xl);
  @include suiGridGuttersAll(xxl#{ $suffix }, $sui-o-grid-gutter-xxl);
}

@mixin suiGridItemModifiers($suffix: '') {
  &.as--pull-left#{ $suffix } {
    order: -100;
    margin-right: auto;
    flex: none;
  }

  &.as--pull-right#{ $suffix } {
    order: 100;
    margin-left: auto;
    flex: none;
  }

  &.as--vertical-center#{ $suffix } {
    align-self: center;
  }

  &.as--vertical-top#{ $suffix } {
    align-self: flex-start;
  }

  &.as--vertical-bottom#{ $suffix } {
    align-self: flex-end;
  }

  &.as--flex-none#{ $suffix } {
    flex: none;
  }

  &.as--auto#{ $suffix } {
    max-width: none;
    flex-basis: auto;
  }

  &.as--fill#{ $suffix } {
    flex-grow: 1;
    max-width: none;
    flex-basis: auto;
  }

  // -------------------------
  //    Order modifiers
  // -------------------------
  &.as--order-0#{ $suffix } {
    order: 0;
  }

  @for $i from 1 through 10 {
    &.as--order-#{ $i }#{ $suffix } {
      order: #{ $i };
    }

    &.as--order-negative-#{ $i }#{ $suffix } {
      order: -#{ $i };
    }
  }

  // -------------------------
  //    Width modifiers
  // -------------------------
  &.as--1_8#{ $suffix } {
    max-width: 12.5%;
    flex-basis: 12.5%;
  }

  &.as--1_7#{ $suffix } {
    max-width: 14.2857142857%;
    flex-basis: 14.2857142857%;
  }

  &.as--1_6#{ $suffix } {
    max-width: 16.6666666666%;
    flex-basis: 16.6666666666%;
  }

  &.as--1_5#{ $suffix } {
    max-width: 20%;
    flex-basis: 20%;
  }

  &.as--1_4#{ $suffix },
  &.as--2_8#{ $suffix } {
    max-width: 25%;
    flex-basis: 25%;
  }

  &.as--2_7#{ $suffix } {
    max-width: 28.5714285714%;
    flex-basis: 28.5714285714%;
  }

  &.as--1_3#{ $suffix },
  &.as--2_6#{ $suffix } {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  &.as--3_8#{ $suffix } {
    max-width: 37.5%;
    flex-basis: 37.5%;
  }

  &.as--2_5#{ $suffix } {
    max-width: 40%;
    flex-basis: 40%;
  }

  &.as--3_7#{ $suffix } {
    max-width: 42.8571428571%;
    flex-basis: 42.8571428571%;
  }

  &.as--1_2#{ $suffix },
  &.as--2_4#{ $suffix },
  &.as--3_6#{ $suffix },
  &.as--4_8#{ $suffix } {
    max-width: 50%;
    flex-basis: 50%;
  }

  &.as--4_7#{ $suffix } {
    max-width: 57.1428571428%;
    flex-basis: 57.1428571428%;
  }

  &.as--3_5#{ $suffix } {
    max-width: 60%;
    flex-basis: 60%;
  }

  &.as--5_8#{ $suffix } {
    max-width: 62.5%;
    flex-basis: 62.5%;
  }

  &.as--2_3#{ $suffix },
  &.as--4_6#{ $suffix } {
    max-width: 66.6666666666%;
    flex-basis: 66.6666666666%;
  }

  &.as--5_7#{ $suffix } {
    max-width: 71.4285714285%;
    flex-basis: 71.4285714285%;
  }

  &.as--3_4#{ $suffix },
  &.as--6_8#{ $suffix } {
    max-width: 75%;
    flex-basis: 75%;
  }

  &.as--4_5#{ $suffix } {
    max-width: 80%;
    flex-basis: 80%;
  }

  &.as--5_6#{ $suffix } {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  &.as--6_7#{ $suffix } {
    max-width: 85.7142857142%;
    flex-basis: 85.7142857142%;
  }

  &.as--7_8#{ $suffix } {
    max-width: 87.5%;
    flex-basis: 87.5%;
  }

  &.as--full#{ $suffix },
  &.as--1_1#{ $suffix },
  &.as--2_2#{ $suffix },
  &.as--3_3#{ $suffix },
  &.as--4_4#{ $suffix },
  &.as--5_5#{ $suffix },
  &.as--6_6#{ $suffix },
  &.as--7_7#{ $suffix },
  &.as--8_8#{ $suffix } {
    max-width: 100%;
    flex-basis: 100%;
  }
}
